<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">

	<display-name>egg-action</display-name>

	<!-- Filters -->
	<filter>
		<filter-name>Filter</filter-name>
		<filter-class>com.demo.filter.SomeFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Filter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<!-- Action -->
	<filter>
		<filter-name>ActionFilter</filter-name>
		<filter-class>com.demo.filter.MyActionFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>ActionFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>


	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>